* {
  box-sizing: border-box;
}

body {
  font-family: "Hind Madurai", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.5;
  color: #000;
  background: #ffffff;
  position: relative;
  top: 135px;
}

.container {
  width: 1130px;
  padding: 0px 30px;
  margin: 0px auto;
}

img {
  vertical-align: middle;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.header {
  position: fixed;
  width: 100%;
  right: 0;
  top:20px;
}

.header-div {
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
  padding-left: 5px;
}

.header-div:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.header-logo-link {
  margin-right: auto;
}

.header-logo {
  width: 58px;
  height: 20px;
}

.header-logo:active {
  opacity: 0.4;
}

.navbar {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.navbar-list {
  position: relative;
  list-style-type: none;
  border-bottom: 3px solid transparent;
}

.navbar-list:hover .navbar-inner {
  display: block;
}

.navbar-list:hover{
  border-bottom: 3px solid #191919;
}

.navbar-list:active{
  border: none;
}

.navbar-link {
  text-decoration: none;
  padding: 16px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #000;
}

.navbar-link:active{
  color: #ffffff;
  background: rgba(25, 25, 25, 0.7);
}

.navbar-inner {
  display: none;
  position: absolute;
  right: 25px;
  left: -15px;
  padding: 0;
  margin: 0;
  margin-top: 8px;
  width: 124px;
  list-style-type: none;
  background: #FFFFFF;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.navbar-inner:hover{
  margin-top: 8px;
  width: 132px;
}

.navbar-sublink {
  text-decoration: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  border: none;
}

.navbar-sublist {
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-sublist:hover {
  background: #00bafc;
  border: none;
}

.navbar-sublist:active{
  background: #00BAFC;
  opacity: 0.6;
}

.contact {
  text-decoration: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: #ffffff;
  padding: 8px 16px;
  background: #00bafc;
  border: 3px solid #00bafc;
  border-radius: 5px;
}

.contact:hover {
  color: #00bafc;
  background: #ffffff;
  border: 3px solid #00bafc;
  border-radius: 5px;
}

.contact:active {
  color: #ffffff;
  background: rgba(0, 186, 252, 0.6);
  border-radius: 5px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
}

.hero-inner {
  width: 470px;
}

.hero-heading {
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 130%;
  color: #000000;
}

.hero-text {
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.hero-link {
  padding: 8px 16px;
  text-decoration: none;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  background: #00BAFC;
  border-radius: 5px;
}

.hero-link:hover{
  background: rgba(0, 186, 252, 0.8);
}

.hero-link:active{
  background: rgba(0, 186, 252, 0.6);
}

.hero-video {
  width: 458px;
  height: 258px;
  border-radius: 5px;
}

.services-heading {
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
  text-align: center;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  color: #000000;
}

.services-inner {
  width: 720px;
  padding: 0;
  margin: 0 auto 16px;
  margin-bottom: 24px;
  display: block;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.services-list {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.services-item {
  width: 320px;
  text-align: center;
  list-style-type: none;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-right: 70px;
  margin-bottom: 48px;
  padding: 24px 58px;
}
.services-item:hover {
  box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.services-item:active {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.service-info {
  text-decoration: none;
}

.service-img {
  margin-bottom: 16px;
}

.service-name {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: #000000;
  margin-bottom: 16px;
}

.service-descr {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.center-box {
  margin-left: 193px;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 56px;
}

.booking {
  text-decoration: none;
  background: #00BAFC;
  border-radius: 5px;
  padding: 8px 16px;
  margin-right: 16px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.services-link {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-decoration-line: underline;
  color: #00BAFC;
}
.main-li {
  display: flex;
}
.div-li {
  margin-left: 32px;
}
.main-h2 {
margin-top: 112px;
  text-align: center;
}
.main-p1 {
  text-align: center;
}
.main-li {
  margin-top: 24px;
  margin-bottom: 48px;
}
.ul-li {
  flex-direction: row-reverse;
}
.div-a {
  display: flex;
  margin-bottom: 56px;
justify-content: center;
}
.main-a {
  text-decoration: none;
  background: #00BAFC;
  border-radius: 5px;
  padding: 8px 16px;
  margin-right: 16px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.form {
  background-color: #00BAFC;
}

.form-box {
  text-align: center;
  padding: 56px 0px;
}

.form-title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  color: #FFFFFF;
  margin: 0px;
  margin-bottom: 16px;
}

.form-desc-box {
  width: 720px;
  margin: 0px auto;
}

.form-desc {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
  margin: 0px;
  margin-bottom: 16px;
}

.form-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  gap: 16px;
  width: 348px;
  height: 304px;
  background: #FFFFFF;
  border-radius: 5px;
  margin: 0px auto;
  margin-bottom: 8px;
}

.label {
  width: 100%;
}

.input {
  width: 100%;
  padding: 16px;
  background-color: #F3F3F3;
  border-radius: 5px;
  border: none;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
}

.input::placeholder {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
}

.select {
  width: 100%;
  background: #F3F3F3;
  border-radius: 5px;
  padding: 16px;
  border: none;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
}

.form-button {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  padding: 8px 16px;
  background: #00BAFC;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}


.footer{
  background-color: #000;
}
.footer-div {
  display: flex;
  color: #FFFFFF;
}
.footer-p{
  width: 350px;
  height: 120px;
}
.footer-div2 {
display: flex;
}
.footer-li {
  list-style-type: none;
  text-decoration: none;
}
.footer-link {
  color: #FFFFFF;
  text-decoration: none;
}
.link2 {
  margin-bottom: 18px;
}
.footer-ul1 {
margin-left: 87px;
}
.footer-img2{
  margin-right: 8px;
}